.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-item {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 12px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
}

.flex {
    display: flex;
}

.gh-center {
    align-items: center;
}

.gv-center {
    justify-items: center;
}

.mb {
    margin-bottom: 50px;
}

.mt {
    margin-top: 50px;
}

.py {
    padding: 1.25rem 0;
}

.px {
    padding: 0 1rem;
}

.max-width {
    max-width: 1280px;
    margin: 0 auto;
}

.text-xl {
    font-size: 2rem;
}

.text-center {
    text-align: center;
}

.text-offline {
    color: var(--deadColor);
}

.m-auto {
    margin: 0 auto;
}

.campos {
    display: flex;
    flex-direction: column;
}

input {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: none;
}

.campos .input-field {
    background-color: rgba(200, 200, 200, 0.9);
    transition: all 0.2s ease-in-out;
    border-radius: 12px;
}

.input-field:focus {
    outline: #F9DB6D 2px solid;
    background-color: rgb(255, 255, 255);
}

div.submit {
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit button {
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    box-shadow: 0 0 4px 2px #000;
    cursor: pointer;
    transition: 0.2s ease-in-out all;
}

.submit button:hover {
    filter: invert();
}

img, video {
    max-width: 100%;
}

@media (max-width: 1024px) {
    .grid-3 {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    .grid-2 {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 728px) {
    .links li:not(:first-of-type):nth-of-type(-n+3), .links li.active { /* Selecciona los elementos 2 y 3 y el elemento activo */
        display: none;
    }
}
